<!DOCTYPE html>
<html ng-app="kriapp">
<head>
	<title>prova</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
          <script src="././public/js/core/ui.router.js"></script>
      	  <script src="././public/js/route.js"></script>
      	  <script src="././public/js/main.js"></script>
	</head>
<body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <div class="viewWrap">
             <div ui-view ng-controller="MyCtrl">
             </div>
        </div>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <div ng-view autoscroll>
            <!-- angular templating -->
            <!-- this is where content will be injected -->            
            </div>
        </div>
</body>
</html>

