<!DOCTYPE html>
<html ng-app="kriapp">
<head>
	<title>Project</title>
  <meta name="author" content="Kri">
   <meta name="description" content="E-commerce dedicato alla vendita di prodotti hardware telefonia ed elettronica." />
   <meta name="keywords" content="master cart record, shop on line, e-commerce, vendita hardware, vendita componenti pc, vendita computer, vendita computer on line, vendita componenti pc on line, offerte on line, hardware">
   <link rel="shortcut icon" type="image/x-icon" href="././public/img/icon/favicon.png" />

   <!-- load angular and angular route via CDN -->

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.min.js"></script>
      <script src="//code.angularjs.org/1.4.0/angular-cookies.js"></script>
      <script src="././public/js/core/ui.router.js"></script>
      <script src="././public/js/ngFader.js"></script>
      <script src="././public/js/route.js"></script>
      <script src="././public/js/main.js"></script>
      <script src="././public/js/service/userService.js"></script>
      <script src="././public/js/login.js"></script>
      <script src="././public/js/signup.js"></script>
      <script src="././public/js/service/dataHandler.js"></script>
      <script src="././public/js/service/productService.js"></script>
      <script src="././public/js/service/fileUpload.js"></script>
      <script src="././public/js/product.js"></script>
      <script src="././public/js/dash.js"></script>
	</head>
<body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <div class="viewWrap">
             <div ui-view ng-controller="MyCtrl">
             </div>
        </div>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <div ng-view autoscroll>
            <!-- angular templating -->
            <!-- this is where content will be injected -->            
            </div>
        </div>
</body>
</html>

