<link rel="stylesheet" href="././public/css/style.css"/>
<header>           
            <div class="header">
                <div class="logo">
                </div>
            <div class="searchbox">
             <form>
             <input type="search" class="form-control" id="mainSearchBox" placeholder="Search"/>
                 <button type="submit" id="submitButtonMain" class="idbutton"></button>
            </form>
            </div>
            <div class="menu" ng-controller="mainController">
            <div class="nav-center">
                <ul>
                    <li class="home"><a href="#!/"><div class="homeicon"></div></a></li>
                    <li class="menu2"><a class="down" href="#!/">Gaming</a></li>    
                    <li class="menu2"><a class="down" href="#!/">Hardware</a>
                    <ul class="dropdown_5columns"><!-- Begin 5 columns container -->        
            <div class="col_1">
                <p>Cpu</p>
                <hr>
                <ul class="col_1_down">
                <li class="arrow">AMD
	                <ul>
		                <li><a>M3</a></li>
		                <li><a>M4</a></li>
	                </ul>
                </li>
                <li class="arrow">Intel
                	<ul>
		                <li><a>I5</a></li>
		                <li><a>I7</a></li>
	                </ul></li>
                </ul>
            </div>
            
            <div class="col_1">
                <p>Schede Madri</p>
                <hr>
                <ul class="col_1_down">
	                <li class="arrow">AMD
		                <ul>
			                <li><a>M3</a></li>
			                <li><a>M4</a></li>
		                </ul>
	                </li>
	                <li class="arrow">Intel
	                	<ul>
			                <li><a>I5</a></li>
			                <li><a>I7</a></li>
		                </ul></li>
                </ul>
            </div>
            
            <div class="col_11">
                <p>Schede Video</p>
                <hr>
                <ul class="col_1_down_2">
	                <li class="arrow_2">AMD
		                <ul>
			                <li><a>Giovanniiii</a></li>
			                <li><a>M4</a></li>
		                </ul>
	                </li>
	                <li class="arrow_2">nVidia
	                	<ul>
			                <li><a href="">Serie 9xx</a></li>
			                <li><a>Serie 7xx</a></li>
		                </ul>
		            </li>
		            <li><a>Accessori</a></li>    
                </ul>
            </div>
            
            <div class="col_11">
                <p>Case</p>
                <hr>
                <ul class="col_1_down_2">
	                <li><a>Mini Tower</a></li>
	                <li><a>Full Tower</a></li>
		            <li><a>HTPC</a></li>    
                </ul>
            </div>
            
            <div class="col_2">
                <p>RAM</p>
                <hr>
                <ul class="col_1_down_2">
                <li><a>DDR4</a></li>
                <li><a>DDR3</a></li>
                </ul>
            </div>
            
            <div class="col_2">
                <p>HD & SSD</p>
                <hr>
                <ul class="col_1_down">
	                <li class="arrow_4">Interno
		                <ul>
			                <li><a>M3</a></li>
			                <li><a>M4</a></li>
		                </ul>
	                </li>
	                <li class="arrow_4">Esterno
	                	<ul>
			                <li><a>I5</a></li>
			                <li><a>I7</a></li>
		                </ul></li>
                </ul>
            </div>
            
            <div class="col_22">
                <p>Alimentatori</p>
                <hr>
                <ul class="col_1_down_2">
	                <li><a>Modulari</a></li>
	                <li><a>non Modulari</a></li>  
                </ul>
            </div>
            
            <div class="col_22">
                <p>Dissipatori & FAN</p>
                <hr>
                <ul class="col_1_down_2">
	                <li><a>Dissipatori per VGA</a></li>
	                <li><a>FAN</a></li>
		            <li><a>Pasta Termica</a></li>    
                </ul>
            </div>
           
            
            <div class="col_3">
            
                <p>&nbsp;</p>
            
            </div>
        
        </ul><!-- End 5 columns container --></li>
                    <li><a class="down3" href="#!/">Periferiche</a></li>
                    <li><a class="down2" href="#!/">Notebook & PC</a></li>
                    <li><a class="down2" href="#!/">Monitor & TV</a></li>
                    <li><a class="down" href="#!/">Software</a></li>
                </ul>
            </div>
            <div class="nav-right">   
                    <div class="usericon"></div><a class="userText" href="#!/login">Accedi</a>
            </div>
            </div>
            <div class="shopCar">
                <div class="shopicon"></div><a href="#!/cart" class="shopText">Carrello</a>
            </div>
            </div>
            
        </header>
