/* ------ Slideshow ------- */
.slideshow .ng-fader {
        background-color: #000;
        position: relative;
        width: 100%;
        height: 50%;
}

.ng-fader ul {
    height: 100%;
    margin: 0;
    padding: 0
}

.ng-fader li {
    height: 100%;
    margin: 0;
    position: relative;
    list-style: none;
    width: 100%
}

.ng-fader li img {
    border: medium none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}

.ng-fader li img.show {
    opacity: 1;
    width: 100%;
    height: auto;
    position: relative;
}

.ng-fader-pagination {
    bottom: 15px;
    height: 20px;
    left: 0;
    position: absolute;
    width: auto
}

.ng-fader-pagination li {
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    height: 7px;
    margin: 4px;
    padding: 5px;
    position: relative;
    width: 7px;
    cursor: pointer
}

.ng-fader-pagination li:first-child {
    margin: 4px 4px 4px 20px;
}

.ng-fader-pagination li.current {
    background-color: #f4df42;
}

.ng-fader-controls {
    bottom: 10px;
    height: 20px;
    position: absolute;
    right: 20px
}

.ng-fader-controls li {
    color: #FFF;
    display: inline;
    font-size: 1.2em;
    padding: 0 15px;
    position: relative;
    cursor: pointer
}

.ng-fader-controls li:nth-child(3) {
    padding-right: 0
}

.ng-fader-controls li.active {
    color: #f4df42
}

.ngfader-play {
    width: 0;
    height: 0;
    margin: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fff;
    cursor: pointer
}

.ngfader-play.active {
    border-left: 15px solid #f4df42
}

.ngfader-stop {
    background-color: #fff;
    height: 15px;
    margin: 0;
    display: inline-block;
    width: 15px;
    cursor: pointer
}

.ngfader-stop.active {
    background-color: #f4df42
}

.ngfader-pause {
    background-color: #fff;
    height: 15px;
    margin: 0;
    width: 5px;
    cursor: pointer;
    display: inline-block
}

.ngfader-pause:after {
    background-color: #fff;
    height: 15px;
    margin-left: 3px;
    width: 5px;
    content: "";
    display: block;
    position: relative;
    left: 5px
}

.ngfader-pause.active,
.ngfader-pause.active:after {
    background-color: #f4df42
}

.ngfader-forward {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}

.ngfader-forward:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    right: 0;
    width: 0
}

.ngfader-forward.active,
.ngfader-forward.active:after {
    border-left: 8px solid #f4df42
}

.ngfader-back {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}

.ngfader-back:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    position: relative;
    left: 8px;
    width: 0
}

.ngfader-back.active,
.ngfader-back.active:after {
    border-right: 8px solid #f4df42
}

/**** SLIDESHOW ****/
@media screen and (max-width: 740px) {
    .ng-fader-controls {
        display: none
    }
    .ng-fader-pagination {
        bottom: 0;
    }
    .ng-fader-pagination li {
        width: 6px;
        height: 6px;
    }
    .ng-fader-pagination li:first-child {
        margin: 4px;
    }
}

.cont {
    background-color: #000;
}

.contmonitor {
    width: 100%;
}

.contmotherboard {
    width: 100%;
    height: auto;
}

.vetrina{
    width: 40%;
    margin-left: 3%;
    float: left;
    margin-top: 10%;
}

.vetrinamotherboard {
    width: 40%;
    margin-left: 12%;
    margin-top: 12%;
    float: left;
}

.motherboard {
    float: left;
}

.mouse {
    margin-top: 7%;
    float: right;
}

.contvideocards {
    width: 100%;
    height: auto;
}

.videocard {
    position: relative;
    margin-left: 55%;
}

.vetrinavideocard {
    width: 40%;
    margin-top: -40%;
    margin-left: 3%;
    float: left;
}

.product {
  cursor: pointer;
  background-color:Black;
  float: left;
  height: 280px;
  width: 48%;
  margin-left: 1%;
  margin-top: 1%;
  color: #000;
  border-style: solid;
  border-width: 0.01px;
  border-color:Gray;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out; 
}

.product a {
    text-decoration: none;
}

.product:hover {

  -webkit-transform: scale(1.1, 1.2);
  -moz-transform: scale(1.1, 1.2);
  -o-transform: scale(1.1, 1.2);
  transform: scale(1.1, 1.2);
}

.product ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.product li{
  padding: 14px;
  text-align: center;
}

.product .prezzo{
  color: rgb(254,231,154) ;
  font-size: 1.3em;
  margin-top: -1%;
}

.product .nome {
    color: White;
    padding-top: 7px;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    height: 15%;
}

.monitor {
    float: left;
    margin-left: 10%;
    cursor: pointer;
}

/***************************************************
     Footer
***************************************************/
.footer {
    background-color: #161616;
    color: #fff;
}

.footer h4 {
    color: rgb(254,231,154);
    text-transform: uppercase;
}

.firstrow {
    float: left;
    margin-left: 5%;
    text-align: center;
    width: 20%;
}


.firstrow .img {
    text-align: center;
    margin-top: 5%;
}

.firstrow .imginner {
    margin-left: 4%;
}

.firstrow .img img:hover {
     -webkit-filter: drop-shadow(1px 1px 1px #fff);
     filter: drop-shadow(1px 1px 1px #fff); 
}

.secondrow {
    float: left;
    margin-left: 20%;
    text-align: center;
}

.secondrow li {
    list-style: none;
    text-align: center;
}

.secondrow li:first-child {
    margin-top: 2%;
}
.secondrow a {
    text-decoration: none;
    color: #fff
}

.secondrow a:hover {
        text-shadow: 0px 0px 1px #FFF;
}

.lastrow {
    margin-left: 70%;
    text-align: center;
}
.rights {
    text-align: center;
}

@media only screen and (min-width: 600px) and (max-width: 1200px){

.monitor {
    width: 44%;
    margin-top: 4%;
}

.cpu {
   margin-left: 20%;
}

.ram {
   margin-left: 20%;
   margin-top: -15%;
}

.case {
   margin-left: 20%;
   margin-top: -6%;
}

.motherboard {
    width: 48%;  
}

.vetrinamotherboard {
    margin-top: 5%;
        margin-left: 5%;
}

.mouse {
    margin-left: -42%;
    width: 50%;
}

.ssd {
    width: 50%;
}

.speakers {
    margin-left: 20%;
}

.videocard {
    width: 45%;
}

.vetrinavideocard {
    margin-top: -45%;
        margin-left: 7%;
}

.product {
        height: 220px;
    }

    .product .prezzo{
        font-size: 1.1em;
    }

    .product .nome {
        font-size: 1.3em;
    }

    .product li{
        padding: 10px;
    }

    .product li:first-child{
      background-size: 80%;
      height: 200px;
      margin-left: 20%;
    }

    .product li:last-child {
        margin-top: -35%;
    }

}    