<link rel="stylesheet" href="././public/css/stylehome.css"/>
<div class="slideshow">
    <ng-fader></ng-fader>
</div>

<div class="cont">
    <div class="contmonitor">
        <section class="vetrina" id="vetrina" ng-init="showMonitors(4)" ng-controller="productsController">
        </section>
        <a href='#!/categ'><img class="monitor" ng-click="initCategory('Monitor')" src="././public/img/homepage/monitor.png"></img></a>
    </div>    
    <a href='#!/categ'><img ng-click="initCategory('Cpu')" src="././public/img/homepage/cpu.png"></img></a>
    <a href='#!/categ'><img ng-click="initCategory('Ram')" src="././public/img/homepage/ram.png"></img></a>
    <a href='#!/categ'><img ng-click="initCategory('Case')" src="././public/img/homepage/case.png"></img></a>
    <div class="contmotherboard">
        <a href='#!/categ'><img ng-click="initCategory('Motherboard')" class="motherboard" src="././public/img/homepage/schedemadri.png"></img></a>
        <section class="vetrinamotherboard" id="motherboard" ng-init="showMotherboards(4)" ng-controller="productsController">
        </section>
    </div>
    <a href='#!/categ'><img ng-click="initCategory('Mouse&Tastiere')" class="mouse" src="././public/img/homepage/mouse&tastiere.png"></img></a>
    <a href='#!/categ'><img ng-click="initCategory('Ssd')" src="././public/img/homepage/ssd.png"></img></a>
    <a href='#!/categ'><img ng-click="initCategory('Speakers')" src="././public/img/homepage/speakers.png"></img></a>
    <div class="contvideocards">
        <a href='#!/categ'><img class="videocard" ng-click="initCategory('Videocard')" src="././public/img/homepage/schedevideo2.png"></img></a>
        <section class="vetrinavideocard" id="videocard" ng-init="showVideoCards(4)" ng-controller="productsController">
        </section>
    </div>    

</div>
<!-- Footer -->
<footer class="footer">
    <section class="footerows">
        <div class="firstrow">
            <div>
                <h4>Follow Us</h4>
            	<div class="img">
                	<span>
                        <picture><img height="40" width="40" src="././public/img/facebook.png"></img></picture>
                        <picture><img class="imginner" height="40" width="40" src="././public/img/twitter.png"></img></picture>
                        <picture><img class="imginner" height="40" width="40" src="././public/img/googleplus.png"></img></picture>
                    </span>
           		</div>
            </div>
        </div>
        <div class="secondrow">
            <div>
                <h4>Informazioni</h4>
                <ul>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Condizioni di vendita</a></li>
                    <li><a href="#">Note legali e Termini di Garanzia</a></li>
                    <li><a href="#">Opinioni dei Clienti</a></li>
                    <li><a href="#">Consegna</a></li>
                </ul>
            </div>
        </div>
        <div class="lastrow">
            <h4>Pagamenti</h4>
            <div>
                <span>
                        <picture><img height="60" width="60" src="././public/img/paypal.png"></img></picture>
                        <picture><img height="60" width="60" src="././public/img/master-card.png"></img></picture>
                    </span>
            </div>
            <div>
                <span>
                        <picture><img height="60" width="60" src="././public/img/american-express.png"></img></picture>
                        <picture><img height="60" width="60" src="././public/img/visa.png"></img></picture>
                    </span>
            </div>

        </div>
    </section>
    <hr>
        <div class="rights">
                <span>Ardito Cristina ©2018 - All rights reserved. </span>
        </div>
</footer>